/* estilos.css */

:root{
	--negro: #29272a;
	--naranja: #f69c21;
	--blanco: #FFF;
	--negroVerdadero: #000;
	--naranjaboton: #fd751d;
	--amarillo: yellow;	
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color: var(--negro);
	background-image: url("images/pattern.jpg");
	margin-top:16px;
	margin-bottom:24px;
	font-family: Arial, sans-serif;
	/* Aplico la fuente general en la etiqueta body para aprovechas la herencia */
}
h2{
	font-size:20px;
	margin-bottom:16px;

}

.cabecera{
	display:flex;
	justify-content: space-between;
	align-items:center;
	
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top:16px;
	margin-bottom:24px;
	
}

h1{
	color: var(--naranja);
}

.contenedor{
	background-color: var(--blanco);
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px 10px 0 0;
}


/*
--------------------------------
			SECCION BOTONERA con float
--------------------------------
*/
.botonera{
	background-color: var(--naranjaboton);
	max-width: 1000px;
	display: flex;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:32px;
	border-radius:10px 10px 0 0;
	font-weight: bold;
}

.botonera li{
	list-style-type: none;
	display:flex;
}

.botonera-lista li{
	flex-grow: 1;
}

.botonera-lista{
	background-color: var(--naranjaboton);
	display: flex;
	text-align: center;
	overflow:auto;
}

.botonera a{
	display:block;
	padding:5px 20px;
	border-right: 1px solid white;
	text-align: center;
	text-decoration: none;	
	color: white;
}

.botonera-lista_formulario{
	margin-left:90px;
	padding-top: 3px;
}
.botonera-lista_formulario input{
	padding:2px 4px;
}
/*  SECCION BOTONERA con flexbox

.botonera{
	background-color: var(--naranjaboton);
	padding-left:15px;
	padding-top:6px;
	padding-bottom:6px;
}

.botonera li{
	flex-grow: 1;

}

.botonera-lista{
	background-color: var(--naranjaboton);
	display: flex;
}

.botonera a{
	background-color: var(--naranjaboton);
	display: block;
	border.right:1px; solid var(--amarillo);
	text-align:center;
	padding;6px 0;
	
}
SE CREA LA CLASE EN FORMULARIO HTML SIN-BORDE
la misma clase seguida suma importancia
.sin-borde.sin-borde{
	border-right:none;
	
	
a.sin-borde{
	border-right:none;
}
.clase etiqueta (significa que etiqueta está dentro de clase)

etiqueta.clase (significa que etiqueta tiene aplicada clase)


*/
/* -----------------------------
		SECCIÓN SLIDER
--------------------------------
*/

.slider{
	text-align: center;
	margin-top: 30px;

}

/* -----------------------------
		SECCIÓN CATEGORÍAS
--------------------------------
*/
.categoria{
	width: 20%;
	float:left;
	background-color: white;
	margin-top:50px;
	padding-left:20px;
}
.lista-productos li{
		border-bottom: 1px dashed lightgrey;
}
.lista-productos{
	list-style-type: none;
	background-color: white;
	padding-left: 30px;
	margin-bottom: 25px;
}
.lista-productos a{
	display:block;
	background-color: white;
	padding:6px 0;
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.lista-productos a:hover{
	font-weight: bold;
}


/* -----------------------------
		SECCIÓN PRODUCTOS
--------------------------------
*/

.productos{
	width: 80%;
	float:right;
	background-color: white;
	margin-top:50px;
	padding-right: 56px;
}

.productos-lampara{
	background-color: white;
	float:left;
	max-width: 50%;

	padding-left: 26px;
	padding-bottom: 32px
}

.lampara-info{
	display: flex;
	align-items: flex-start;
}
.lampara-info a{
	padding-right: 15px;
}

.lampara-info img{
	padding-right: 15px;
}
/* -----------------------------
		SECCIÓN NEWSLETTER
--------------------------------
*/

.newsletter{
	clear:both;
	max-width: 940px;

	margin-left: auto;
	margin-right: auto;

	border: 1px solid lightgrey;

	padding:10px 24px;

	background-image: linear-gradient(white, lightgray);

	overflow: auto;

	border-radius:5px;
}

.newsletter img{
	margin-right:30px;
	float: left;
}
.newsletter-info{
	float: left;
}
.newsletter-info p{
	margin-left: 30px;
	margin-top:7px;
}
.newsletter form{
	float:right;
	margin-top:12px;
}

.newsletter-form [type="submit"]{
	background: none;
	border:none;

	/* Agregamos el cursor de la manito que perdemos al sacarle el fondo al botón*/
	cursor:pointer;

	font-weight: bold;
	padding: 5px 8px;	
}

/* -----------------------------
		SECCIÓN PIE
--------------------------------
*/

/* Propiedades heredables, las aplico en el elemento padre y los hijos las tienen también */

.pie{
	background-color: #f0f0f0;
	padding: 6px 50px;
	border-top: 1px solid black;
	margin-top: 30px;
	overflow:auto;
	font-size:12px;
}

.pie-copy, .pie-china, .pie-argentina{
	float:left;
}

.pie-copy h4{
	font-weight: normal;
}
.pie-creditos{
	clear:both;
	text-align: right;
}
.pie-china{
	padding-left:20px;
	padding-right: 15px;
	border-right: 1px solid gray;
}
.pie-argentina{
	padding-left:20px;
}

.pie-creditos a{
	/*
		paso dos:
 		acá aplicamos la fuente google
 		copiando lo encuadrado en specify in css
	*/
	font-family: 'Gamja Flower', sans-serif;
}